
  <%= form_for :task, url: project_tasks_path(@project), html: {multipart: true}, remote: true do |f| %>

    <div  id="center">

      <%= f.label :title, "Task Title:", class: "col-md-4 control-label" %> <br/> 
      <%= f.text_field :title, class: "form-control" %><br/> 
      <%= f.label :priority, "Task Priority:", class: "col-md-4 control-label" %><br/> 
      <%= f.number_field :priority, class: "form-control" %><br/>
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %> 

    </div>

  <% end %>