<div id="edit-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Edit Project</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <%= form_for @project, remote: true, :url => { :action => :update, :id => @project.id },
:method => :put do |f| %>
        <% if @project.errors.any? %>
          <div id="errorExplanation">
              <h2><%= pluralize(@project.errors.count, "error") %> prohibited
                this project from being saved:</h2>
              <ul>
                <% @project.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
          </div>
        <% end %>

        <div class="form-group">
           <%= f.label :Title, "Project Title:", class: "col-md-4 control-label" %> 
        </div>
        <div class="col-md-6">
          <%= f.text_field :tittle, class: "form-control" %>
        </div><br>
        <div class="col-md-6">
          <%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
        </div><br>
      <% end %>
    </div>
  </div>
</div>