<%= form_for @project, remote: true, :url => { :action => :update, :id => @project.id },
:method => :put do |f| %>
  <% if @project.errors.any? %>
    <div id="errorExplanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited
          this project from being saved:</h2>
        <ul>
          <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div id="center", class="row">

    <div class="col-md-3"></div>

    <div id="center" class="col-md-6">

      <%= f.label :Title, "Project Title:", class: "col-md-4 control-label" %> 
      <%= f.text_field :tittle, class: "form-control" %><br/> 
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>

    </div>
  
    <div class="col-md-3"></div>
  </div> 
<% end %>