<!DOCTYPE html>
<html>
  <head>
    <title>VictorTest</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  </head>

  <body>

  <div class="navbar">
      <a </a>
      <a </a>
      <a>
          <img src="" alt="User" style="width:40px;">
      </a>
  </div>


  	<div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" >
                <li class="sidebar-brand">
                    <a href="#">
                        Welcome
                    </a>
                </li>
                <li>
                  <%= link_to "Add Project", new_project_path, :class => "btn", :remote => true, "data-toggle" => "modal", "data-target" => "project-modal" %>
                </li>               
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                 <%= yield %>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
  </body>
</html>
